
<nav class="navbar custom-navbar fixed-top">
    <div class="container-fluid px-0 d-flex justify-content-between align-items-center">

      
    <div class="navbar-brand d-flex gap-3">
            <img  src="../../images/dashboard/plra-logo.png" alt="Logo" class="plra-logo">
            <div>
                <span class="brand-title">State Land Management</span>
                <p class="brand-subtitle">Apna Khait, Apna Rozgar</p>
            </div>
       </div>

      <div class="d-flex align-items-center">
        <div class="text-end user-meta">
          <p class="user-name">Muhammad Ahmed</p>
          <p class="user-role">Applicant</p>
        </div>

        <img src="../../images/dashboard/user-image.png" alt="User Avatar" class="user-avatar mx-3" />

        
        <div style="border-left: 1px solid #E0E0E0;">
            <button class="nav-icon-btn ms-2 me-1" aria-label="Help">
            <i class="bi bi-question-circle"></i>
            </button>

            <button class="nav-icon-btn me-4" aria-label="Logout">
            <i class="bi bi-box-arrow-right"></i>
            </button>
        </div>
      </div>
    </div>
  </nav>
